<%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'vendor/modernizr' %>

		<section id="MainContainerLogin">
			<h1 class="logo"></h1>
			<%= form_tag("/session/login", :method => "POST", :class => "FormLogin") do%>
		
				<p class="Titleform">Login</p>
				
				<p class="fieldsForm">
					<label for="userName" id="idUserName"></label>
					<input type="text" name="user_name" autofocus placeholder="USUÁRIO"><br>
				</p>

				<p class="fieldsForm">
					<label for="userPassword" id="idUserPassword"></label>
					<input type="password" name="password" placeholder="SENHA">
				</p>		

				
				<%= submit_tag "", :class => "submitLogin"%>

			<%end%>

			<div class="alert alert-danger fade in" role="alert" style="display: none;">
      	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      	<strong>Usuário ou senha incorretos. Tente novamente!</strong>.
    	</div>
		  <!---->

		</section>
		
		<% if flash[:error]%>
			<script>
					$('.alert').slideDown(400);
					setTimeout(function(){$('.alert').alert('close');}, 6000);
			</script>
		<% end %>

<!--<script>
var urlAtual = window.location.href;
var urlWrong = urlAtual.indexOf("someWrong");

if(urlWrong != -1){
	jQuery('#errorPassword').html('<p>Usuário ou senha incorreto. Tente novamente!</p>');
	jQuery('#errorPassword').slideDown('4000');
}
</script>-->
