<%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'vendor/modernizr' %>

		<section id="MainContainerLogin">
			<h1 class="logo"></h1>
			<%= form_tag("/session/login", :method => "POST", :class => "FormLogin") do%>
		
				<p class="Titleform">Login</p>
				
				<p class="fieldsForm">
					<label for="userName" id="idUserName"></label>
					<input type="text" name="user_name" required autofocus placeholder="USUÁRIO"><br>
				</p>

				<p class="fieldsForm">
					<label for="userPassword" id="idUserPassword"></label>
					<input type="password" name="password" required placeholder="SENHA">
				</p>		

				
				<%= submit_tag "", :class => "submitLogin"%>

			<%end%>

			<div data-alert class="alert-box alert" style="display: none;">
			  Os dados digitados estão incorretos. Tente novamente!
			  <a href="#" class="close">&times;</a>
			</div>			
		</section>
		
		<% if flash[:error]%>
			<script>$('.alert-box').slideDown();</script>
		<% end %>

<!--<script>
var urlAtual = window.location.href;
var urlWrong = urlAtual.indexOf("someWrong");

if(urlWrong != -1){
	jQuery('#errorPassword').html('<p>Usuário ou senha incorreto. Tente novamente!</p>');
	jQuery('#errorPassword').slideDown('4000');
}
</script>-->
