<%= form_for(@user, url: "/users", :class => "formNewUser", remote: true) do |f| %>
		
    <p>
     
		  <%= f.text_field :login, :placeholder => "Login", :class=> "form-control", :required => "required" %>
    </p>

    <p>
  		
  		<%= f.text_field :name,  :placeholder => "Nome", :class=> "form-control", :required => "required"%>
    </p>

    <p>      
		
		  <%= f.text_field :cpf, :placeholder => "CPF", :class=> "form-control cpf", :required => "required"%>
    </p>
    <p>
		
		  <%= f.text_field :password, :placeholder => "Senha", :class=> "form-control", :required => "required"%>
      </p>
		
		<label style="float:left; margin-right:5px;">ADM</label> <%= check_box_tag :adm %>

		<%= f.submit "Gravar", :class=>"btn btn-lg btn-primary submitSmall"%>
    <div id="status" name="status">
    </div>

<% end %>