<%= form_for(@user, url: "/users", :class => "formNewUser", remote: true) do |f| %>
		

    <%= text_box("Login",(f.text_field :login, placeholder: "Ex: Tester", :class=> "form-control", :required => "required")) %>
    <%= text_box("Nome",(f.text_field :name, placeholder: "Ex: Ramires", :class=> "form-control", :required => "required")) %>
    <%= text_box("CPF",(f.text_field :cpf, placeholder: "Ex: 333.333.333-55", :class=> "form-control cpf", :required => "required")) %>
    <%= text_box("Senha",(f.password_field :password, placeholder: "Ex: Qbz12Tr", :class=> "form-control", :required => "required")) %>
		
		<div class="row">
      <label style="float:left; margin:0 5px 0 110px;">Administrador</label>
      <%= check_box_tag :adm %> 
    </div>

		<div class="row">
      <%= f.submit "Gravar", :class=>"button right buttonColor"%>
    </div>

    <div id="status" name="status">
    </div>

<% end %>


<style>
  label {
      font-size: 20px;
      color: rgb(54, 54, 177);
      text-align: left;
  }
</style>