<%= form_for @client, name: "client", remote: true do |cli| %>

<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel1"><i class="fi-torsos-male-female size-21"></i></a></dd>
  <dd><a href="#panel2"><i class="fi-marker size-21"></i></a></dd>
  <dd><a href="#panel3"><i class="fi-torso-business size-21"></i></a></dd>
  <dd><a href="#panel4"><i class="fi-telephone size-21"></i></a></dd>
  <dd><a href="#panel5"><i class="fi-dollar size-21"></i></a></dd>
</dl>
<div class="tabs-content">
  <div class="content active" id="panel1">
    <div id="personal_information">
        <p class="titles"><h4>Informações Pessoais<h4></p><br/>
        

        <%= text_box((cli.text_field :name, placeholder: "Nome"),"nome") %>
        
        <%= text_box((cli.text_field :rg, placeholder: "RG"),"RG") %>
        <%= text_box((cli.text_field :dob, placeholder: "Data de Nascimento"),"Data de Nascimento") %>
        <%= text_box((cli.text_field :cpf, placeholder: "CPF"),"CPF") %>
       
        <div class="row">
            <div class="small-3 columns"><label class="right inline">Estado Civil</label></div>
            <div class="small-9 columns">
            <%= cli.select(:relationship, [['Solteiro', '1'],['Casado', '2'],['Divorciado','3'],['Viuvo','4']], {include_blank: 'Estado Civil'} )%></div>
        </div>
        
        <%= text_box((cli.email_field :email_address, placeholder: "E-Mail"),"E-mail") %>

        
        <dl class="tabs" data-tab><dd><a class="nextButton" href="#panel2">Continuar</a></dd></dl>
    </div>

  </div>
  <div class="content" id="panel2">
        <div id="residence_information">
        <p class="titles"><h4>Informações Residenciais<h4></p><br/>
        <p>
            <label>CEP</label>
            <%= cli.text_field :address, placeholder: "CEP", onblur: "getCEP(this.value)" %>
        </p>

        <p>
            <label>Cidade</label>
            <input type="text" id="city" placeholder="Cidade" disabled>
        </p>

        <p>
            <label>Bairro</label>
            <input type="text" id="neigborhood" placeholder="Bairro" disabled>
        </p>
            <label>Rua</label>
            <input type="text" id="street" placeholder="Rua" disabled>
        <p>

        </p>
            <label>Nº</label>
            <input type="text" id="number" placeholder="Nº">
        <p>
            
        </p>
            <label>Telefone</label>
            <%= cli.text_field :phone_number, placeholder: "Telefone" %>
        </p>
        
        <p>
            <label>Celular</label>
            <%= cli.text_field :mobile_number, placeholder: "Celular"%>
        </p>

        <p>
           <%= cli.hidden_field :client_type, placeholder: "client_type" %>
        </p>

        <dl class="tabs" data-tab><dd><a class="nextButton" href="#panel1">Voltar</a></dd></dl>

        <dl class="tabs" data-tab><dd><a class="nextButton" href="#panel3">Continuar</a></dd></dl>
    </div>
  </div>
  <div class="content" id="panel3">
    <div id="company_information">
        <p class="titles"><h4>Informações Profissionais<h4></p><br/>
        <%= fields_for(@company) do |comp| %>
            <p>
                <label>Salário</label>
                <%= comp.text_field :income , placeholder: "Salário"%>
            </p>

            <p>
                <label>Profissão</label>
                <%= comp.text_field :ocupation, placeholder: "Profissão" %>
            </p>
            
            <p>
                <label>Empresa</label>
                <%= comp.text_field :company_name, placeholder: "Empresa"  %>
            </p>
        <%end%>
        <dl class="tabs" data-tab><dd><a class="nextButton" href="#panel2">Voltar</a></dd></dl>
        <dl class="tabs" data-tab><dd><a class="nextButton" href="#panel4">Continuar</a></dd></dl>
    </div>
  </div>
  <div class="content" id="panel4">
    <div id="reference_information">
        <p class="titles"><h4>Referências Pessoais<h4></p><br/>
        <%= fields_for(@reference) do |ref|%>
            <p>
                <label>Nome</label>
                <%= ref.text_field :name , placeholder: "Nome"%>
            </p>
            
            <p>
                <label>Telefone</label>
                <%= ref.text_field :phone_number , placeholder: "Telefone"%>
            </p>
            
            <p>
                <label>Telefone 2</label>
                <%= ref.text_field :phone_number2 , placeholder: "Telefone 2"%>
            </p>
        <% end %>
        <dl class="tabs" data-tab><dd><a class="nextButton" href="#panel3">Voltar</a></dd></dl>
        <dl class="tabs" data-tab><dd><a class="nextButton" href="#panel5">Continuar</a></dd></dl>
    </div>
  </div>

  <div class="content" id="panel5">
     <div id="bank_account_information">
        <p class="titles"><h4>Dados Bancários<h4></p><br/>
        <%= fields_for(@bank_account) do |bank|%>
            <p>
               <label>Banco</label>
               <%= bank.select(:bank_id, [['Itaú', '1'],['Bradesco', '2'],['Santander','3'],['Caixa','4']], {include_blank: 'Banco'}) %>
            </p>
            
            <p>
                <label>Agência</label>
                <%= bank.text_field :agency , placeholder: "Agência"%>
            </p>
            
            <p>
                <label>Conta Corrente</label>
                <%= bank.text_field :account_number , placeholder: "Conta Corrente"%>
            </p>
        <% end %>
                <dl class="tabs" data-tab><dd><a class="nextButton" href="#panel4">Voltar</a></dd></dl>
        <%= cli.submit('Cadastrar') %>
        <div id="status_form">
        </div>
    </div>
  </div>  
</div>
<%end%>

<script>
    $(document).ready(function(){ 
        $("#personal_information").fadeIn();
        $('#client_cpf').mask('000.000.000-00');
        $('#client_dob').mask('00/00/0000');
        $('#client_phone_number').mask('(00) 0000-0000');
        $('#client_phone_number2').mask('(00) 0000-0000');
        $('#client_mobile_number').mask('(00) 0000-00000');
        $('#client_reference_phone_number').mask('(00) 0000-0000');
        $('#client_reference_phone_number2').mask('(00) 0000-0000');
        $('#client_address').mask('00000-000');
        $('#company_income').mask('R$ 00000000');
    }) 

    function display_steps(current_step, next_step){
        $("#"+ current_step).fadeOut();
        $("#"+ next_step).fadeIn();
    }
    
    
    function getCEP(cep)
    {
        //cep fit 04042-070
        cep = cep.replace("-","");
        $.ajax({
          url: 'http://correiosapi.apphb.com/cep/'+cep,
          dataType: 'jsonp',
          crossDomain: true,
          contentType: "application/json",
          statusCode: {
            200: function(data) { 
                console.log(data);
                $("#city")[0].value = data["cidade"];
                $("#neigborhood")[0].value = data["bairro"];
                $("#street")[0].value = data["tipoDeLogradouro"] + " " + data["logradouro"];


            } // Ok
            ,400: function(msg) { console.log(msg);} // Bad Request
            ,404: function(msg) { console.log("CEP não encontrado!!");} // Not Found
          }
        });
    }
</script>

<style>
label{
    font-size: 20px;
    color: rgb(54, 54, 177);
    text-align: left;
}
</style>