<%# navigation styled for Zurb Foundation 5 %>
<!--<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name"><%#link_to index, root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <%# render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>-->


<aside id="RightBar">
  <nav class="NavRightBar">
    <ul>
     <% arr_url_nav.each do |url| %>
        <% if request.fullpath.match /#{url[:href]}/ %>
            <li class="active"><a id="<%= url[:id] %>" href="<%= url[:href] %>"><%= url[:value] %></a></li>
        <% else %>
            <li><a id="<%= url[:id] %>" href="<%= url[:href] %>"><%= url[:value] %></a></li>
        <% end %>
     <% end %>
    </ul>
  </nav>  
</aside>