<div id="container">

	<br><br>
	<center>
		CPF: <%= @client.cpf %><br />
		Nome: <%= @client.name %><br />
		Data de Nascimento: <%= @client.dob %><br />
		RG: <%= @client.rg %><br />
		Telefone: <%= @client.phone_number %><br />
		Endereço: <%= @client.address %><br />
	</center>
	<br><br>

	<center>
		<b>Novo Imóvel</b>
		<%= form_tag ("/residence"), method: :post do %>
			<%= text_field_tag :address, nil, placeholder: "Endereço"%><br />
			<%= submit_tag "Gravar"%>
		<%end%>
	</center>

</div>

