<center>
	<a href="/user/<%= session[:user_id]%>">Home</a> <a href="/client"><b>Cadastrar Cliente</b></a> <a href="/">Buscar Cliente</a> <a href="/user/logout">Sair</a><br/>
</center>

Logado como: <%= session[:user_login] %>

<br>
<br>
<br>
<br>
<center>
	<%= form_tag('/client', :method => "post")%>
		CPF<br />
		<%= text_field_tag :cpf, nil, :placeholder => "CPF"%><br /><br />
		
		NOME COMPLETO<br />
		<%= text_field_tag :name, nil, :placeholder => "Nome"%><br /><br />

		DATA DE NASCIMENTO<br />
		<%= text_field_tag :dob, nil, :placeholder => "DD/MM/AAAA"%><br /><br />

		RG<br />
		<%= text_field_tag :rg, nil, :placeholder => "RG"%><br /><br />

		TELEFONE<br />
		<%= text_field_tag :phone, nil, :placeholder => "00-00000000"%><br /><br />

		CEP<br />
		<%= text_field_tag :cep, nil, :placeholder => "0000-999"%><br /><br />

		Nº<br />
		<%= text_field_tag :number, nil, :placeholder => "0000"%><br /><br />

	<%= submit_tag "Gravar"%>
</center>

