<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid HeaderClient">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="userName">Ola <%= session[:user_login] %></a></li>
            <li><a href="/user/logout">Sair</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    
 
<article id="RightBar">
  <nav class="NavRightBar">
    <ul>
      <li><a href="/user/<%= session[:user_id]%>">Home</a></li>
      <li><a href="/user/new_user">Cadastrar Usuario</a></li>
      <li class="active"><a href="/client">Cadastrar Cliente</a></li>
      <li><a href="/client/list">Buscar Cliente</a></li>
    </ul>
  </nav>  
</article>

<div id="container">
<center>
	<%= form_tag('/client', :method => "post")%>
		CPF<br />
		<%= text_field_tag :cpf, nil, :placeholder => "CPF"%><br /><br />
		
		NOME COMPLETO<br />
		<%= text_field_tag :name, nil, :placeholder => "Nome"%><br /><br />

		DATA DE NASCIMENTO<br />
		<%= text_field_tag :dob, nil, :placeholder => "DD/MM/AAAA"%><br /><br />

		RG<br />
		<%= text_field_tag :rg, nil, :placeholder => "RG"%><br /><br />

		TELEFONE<br />
		<%= text_field_tag :phone, nil, :placeholder => "00-00000000"%><br /><br />

		CEP<br />
		<%= text_field_tag :cep, nil, :placeholder => "0000-999"%><br /><br />

		Nº<br />
		<%= text_field_tag :number, nil, :placeholder => "0000"%><br /><br />

	<%= submit_tag "Gravar"%>
</center>
</div>