
											Passo 2
<%= form_for @residence, name: "residence", remote: true do |res| %>
	<%= select_combo 'Status',( res.select :status, residence_status)  %>
	<%= select_combo 'Tipo',( res.select :residence_type, residence_type)  %>
	<%= text_box 'CEP', (res.text_field :cep) %>
	<%= text_box 'Rua', (res.text_field :street, disabled: true) %>
	<%= text_box 'Bairro', (res.text_field :neighbourhood, disabled: true) %>
	<%= text_box 'Cidade', (res.text_field :city, disabled: true) %>
	<%= text_box 'Estado', (res.text_field :state, disabled: true) %>

												Passo 2
	<%= fields_for @residence_info do |info|%>
		<%= text_box 'Matricula', (info.text_field :residence_code) %>
		<%= text_box 'Valor Venda', (info.text_field :sell_value) %>
		<%= text_box 'Valor Aluguel', (info.text_field :rent_value) %>
		<%= text_box 'Valor Condominio', (info.text_field :condominium_value) %>
		<%= text_box 'Valor IPTU', (info.text_field :iptu_value) %>
											 	Passo 3
		<%= text_box 'Área Total do Terreno', (info.text_field :area_total) %>
		<%= text_box 'Escritura Definitiva', (info.text_field :escritura_definitiva) %>
		<%= text_box 'Escritura Alienada', (info.text_field :escritura_alienada) %>
		<%= text_box 'Escritura Inventário', (info.text_field :escritura_inventario) %>
												Passo 4
		<div style="margin:20px;"> 
			Casa Germinada
			<%= check_box("Casa Germinada", :casa_germinada, {}, "1", "0") %>
		</div>
		<div style="margin:20px;"> 
			Casa Alto Padrao
			<%= check_box("Casa Alto Padrao", :casa_alto_padrao, {}, "1", "0") %>
		</div>
		<%= text_box 'Dormitórios', (info.text_field :qdt_domitorio) %>
		<%= text_box 'Suites', (info.text_field :qtd_suite) %>
		<%= text_box 'Banheiros', (info.text_field :qtd_banheiro) %>
		<%= text_box 'Garagem', (info.text_field :qtd_garage) %>
	<%end%>

	<%= res.submit "Cadastrar"%>
	<div data-alert class="alert-box alert" style="display: none;">
      Preencha todos os campos!
      <a href="#" class="close">&times;</a>
   </div>
<% end %>
