
											Passo 2
<%= form_for @residence, name: "residence", remote: true do |res| %>
<dl class="tabs" data-tab>
	<dd class="active"><a href="#panel1"><i class="fi-target-two size-21"></i></a></dd>
	<dd><a href="#panel2"><i class="fi-clipboard size-21"></i></a></dd>
	<dd><a href="#panel3"><i class="fi-align-left size-21"></i></a></dd>
	<dd><a href="#panel4"><i class="fi-info size-21"></i></a></dd>
</dl>

<div class="tabs-content">
	  <div class="content active" id="panel1">
	    <%= text_box 'CPF', (text_field_tag :cpf) %>
		<%= select_combo 'Status',( res.select :status, residence_status)  %>
		<%= select_combo 'Tipo',( res.select :residence_type, residence_type)  %>
		<%= text_box 'CEP', (res.text_field :cep, onblur: "getCEPResidence(this.value)") %>
		<div class="row"><img src="/assets/load.GIF" id="loadingImg" style="display: none;"></div>
		<%= text_box 'Rua', (res.text_field :street, readonly: true) %>
		<%= text_box 'Bairro', (res.text_field :neighbourhood, readonly: true) %>
		<%= text_box 'Cidade', (res.text_field :city, readonly: true) %>
		<%= text_box 'Estado', (res.text_field :state, readonly: true) %>
		<%= text_box 'Número', (res.text_field :number) %>
		<div class="row">
			<dl data-tab><dd><a class="button right" href="#panel2">Continuar</a></dd></dl>
		</div>
	</div>

	<div class="content" id="panel2">
		<%= fields_for @residence_info do |info|%>
			<%= text_box 'Matricula', (info.text_field :residence_code) %>
			<%= text_box 'Valor Venda', (info.text_field :sell_value) %>
			<%= text_box 'Valor Aluguel', (info.text_field :rent_value) %>
			<%= text_box 'Valor Condominio', (info.text_field :condominium_value) %>
			<%= text_box 'Valor IPTU', (info.text_field :iptu_value) %>
		<div class="row">
			<dl data-tab><dd><a class="button left" href="#panel1">Voltar</a></dd></dl>
			<dl data-tab><dd><a class="button right" href="#panel3">Continuar</a></dd></dl>
		</div>	
	</div>		

	<div class="content" id="panel3">
			<%= text_box 'Área Total do Terreno', (info.text_field :area_total) %>
			<%= text_box 'Escritura Definitiva', (info.text_field :escritura_definitiva) %>
			<%= text_box 'Escritura Alienada', (info.text_field :escritura_alienada) %>
			<%= text_box 'Escritura Inventário', (info.text_field :escritura_inventario) %>
			<div class="row">
				<dl data-tab><dd><a class="button left" href="#panel2">Voltar</a></dd></dl>
				<dl data-tab><dd><a class="button right" href="#panel4">Continuar</a></dd></dl>			
			</div>
	</div>			

	<div class="content" id="panel4">
		 <div data-alert class="alert-box alert" style="display: none;">
	        Preencha todos os campos!
	        <a href="#" class="close">&times;</a>
	    </div>
			<div style="margin:20px;"> 
				Casa Germinada
				<%= check_box("Casa Germinada", :casa_germinada, {}, "1", "0") %>
			</div>
			<div style="margin:20px;">
				Casa Alto Padrao
				<%= check_box("Casa Alto Padrao", :casa_alto_padrao, {}, "1", "0") %>
			</div>
			<%= text_box 'Dormitórios', (info.text_field :qdt_domitorio) %>
			<%= text_box 'Suites', (info.text_field :qtd_suite) %>
			<%= text_box 'Banheiros', (info.text_field :qtd_banheiro) %>
			<%= text_box 'Garagem', (info.text_field :qtd_garage) %>
		<%end%>
		<div class="row">
			<dl data-tab><dd><a class="button left" href="#panel3">Voltar</a></dd></dl>
			<%= res.submit('Cadastrar', :class => "button right")%>
		</div>
	</div>
</div>
<% end %>

<script>
	ProjectInputMasks();
</script>
