<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Cadastrar Imóvel</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<%= form_for @residence, name: "residence", remote: true do |res| %>
  <div class="row">
    <div class="col-lg-12">
    	<% #res.submit('Cadastrar', :class => "btn btn-success col-lg-2 pull-right btn-fixed")%>
					<div class="col-lg-6">
				    <div class="panel panel-default">
				    	<div class="panel-heading"><strong><span class="steps"></span>Informações Imóvel</strong></div>
				      <div class="panel-body">
											  <%= text_box 'CPF', (text_field_tag :cpf, nil, class: "form-control", placeholder: "CPF") %>
												<%= select_combo 'Status',(res.select :status, residence_status, {}, class: "form-control")  %>
												<%= select_combo 'Tipo',( res.select :residence_type, residence_type, {}, class: "form-control")  %>
												<%= text_box 'CEP', (res.text_field :cep, onblur: "getCEPResidence(this.value)", class: "form-control") %>
												<div class="row"><img src="/assets/load.GIF" id="loadingImg" style="display: none;"></div>
												<%= text_box 'Rua', (res.text_field :street, readonly: true, class: "form-control") %>
												<%= text_box 'Bairro', (res.text_field :neighbourhood, readonly: true, class: "form-control") %>
												<%= text_box 'Cidade', (res.text_field :city, readonly: true, class: "form-control") %>
												<%= text_box 'Estado', (res.text_field :state, readonly: true, class: "form-control") %>
												<%= text_box 'Número', (res.text_field :number, class: "form-control") %>

												<%= text_box 'Complemento', (text_field_tag :comp, nil, class: "form-control") %>
				      </div>
				    </div>
				  </div>

					<div class="col-lg-6">
				    <div class="panel panel-default" style="height: 823px;">
				    	<div class="panel-heading"><strong><span class="steps"></span>Informações Imóvel</strong></div>
				      <div class="panel-body">
										<%= fields_for @residence_info do |info|%>
										<%= text_box 'Matricula', (info.text_field :residence_code, class: "form-control") %>
										<%= text_box 'Valor Venda', (info.text_field :sell_value, class: "form-control") %>
										<%= text_box 'Valor Aluguel', (info.text_field :rent_value, class: "form-control") %>
										<%= text_box 'Valor Condominio', (info.text_field :condominium_value, class: "form-control") %>
										<%= text_box 'Valor IPTU', (info.text_field :iptu_value, class: "form-control") %>																				
										
										<%= text_box 'Escritura Definitiva', (info.text_field :escritura_definitiva, class: "form-control") %>
										<%= text_box 'Escritura Alienada', (info.text_field :escritura_alienada, class: "form-control") %>
										<%= text_box 'Escritura Inventário', (info.text_field :escritura_inventario, class: "form-control") %>
				      </div>
				    </div>
				  </div>
						
					<div class="col-lg-6">
				    <div class="panel panel-default">
				    	<div class="panel-heading"><strong><span class="steps"></span>Informações Imóvel</strong></div>
				      <div class="panel-body">
							<label>
							      <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue"> Casa Alto Padrao
							</label>
							<label>
							      <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue"> Casa Germinada
							</label>											      	
							<!-- <label>Casa Alto Padrao</label><%# check_box("Casa Alto Padrao", :casa_alto_padrao, {}, "1", "0") %>
								<label>Casa Germinada</label><%# check_box("Casa Germinada", :casa_germinada, {}, "1", "0") %>-->
								<%= text_box 'Dormitórios', (info.text_field :qdt_domitorio, class: "form-control") %>
								<%= text_box 'Suites', (info.text_field :qtd_suite, class: "form-control") %>
								<%= text_box 'Banheiros', (info.text_field :qtd_banheiro, class: "form-control") %>
								<%= text_box 'Garagem', (info.text_field :qtd_garage, class: "form-control") %>
								<%= text_box 'Área Total do Terreno', (info.text_field :area_total, class: "form-control") %>
								<%= res.submit('Cadastrar', :class => "btn btn-success col-lg-6 pull-right")%>
					    </div>
				    </div>
				  </div>

						 <div data-alert class="alert-box alert" style="display: none;">
					        Preencha todos os campos!
					    		<a href="#" class="close">&times;</a>
					  </div>			

</div>
</div>	
	<%end%>
<% end %>

<script>
	ProjectInputMasks();
	stepsCount();

	$("#cpf").on("blur", function(){
		verifyCPF();
	});

	
	function verifyCPF(){
		if ($("#cpf").val() != ""){
			var value = { cpf: $("#cpf").val()}
			$.ajax({
				type: "GET",
			  	url: "/clients/verify_by_cpf/",
			  	data: value,
			   	success: function (data) {
			   		if (data.message == "success"){
			   			$("#cpf")[0].style.borderColor = "green"
			   		} else {
			   			$("#cpf")[0].style.borderColor = "red"
			   			fnDefaultMessage("Cliente não encontrado na base de dados.");
			   		}
			   			
			    		console.log(data.message);
					}
				}	
			);
		}
}
</script>
