
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-6 center-block" style="float:none;">
    <div id="sidebar_builder"></div>
    <div class="sidebar_container">
      <ul class="side-nav">
      </ul>
    </div>
    </div>    
  </div>
</div>
<script>

var arr_geo = [];
<% residence_geo.each do |res| %>
    arr_geo.push({ lat: <%= res[:lat] %>, lng: <%= res[:lng] %>, name: 'Código: <%= res[:id] %>  Bairro: <%= res[:bairro] %>', infowindow: '<div id="content">'+
      '<div id="siteNotice">'+
          '</div>'+
          '<h4 id="firstHeading" class="firstHeading">Dados do Imóvel</h4>'+
          '<div id="bodyContent">'+
          '<p><b>Código do Imóvel:</b> <%= res[:id]%><br>' +
          '<b>Tipo:</b> <%= res[:type]%><br>' +
          '<b>Status:</b> <%= res[:status]%><br>' +
          '<b>CEP:</b> <%= res[:cep]%><br>' +
          '<a href="/residences/<%= res[:id]%>" target="blank">Página do Imóveil</a></p>'+
          '</div>'+
      '</div>'})  
<%end%>


function createSidebarLi(json){
  return ("<li><a>" + json.name + "</a></li>");
};

function bindLiToMarker($li, marker){
  $li.on('click', function(){
    handler.getMap().setZoom(14);
    marker.setMap(handler.getMap()); //because clusterer removes map property from marker
    marker.panTo();
    google.maps.event.trigger(marker.getServiceObject(), 'click');
  })
};

function createSidebar(json_array){
  _.each(json_array, function(json){
    var $li = $( createSidebarLi(json) );
    $li.appendTo('.sidebar_container > ul');
    bindLiToMarker($li, json.marker);
  });
};

handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'sidebar_builder'}}, function(){
  var json_array = arr_geo;

  var markers = handler.addMarkers(json_array);

  _.each(json_array, function(json, index){
    json.marker = markers[index];
  });

  createSidebar(json_array);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>