<div class="row"><h2 class="sub-header">Dados do imóvel</h2></div>

<div  class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><b>Status:</b></td>
        <td><%= @residence.status_name %></td>
      </tr>
      <tr>
        <td><b>Tipo:</b></td>
        <td><%= @residence.type_name %></td>
      </tr>      
    </tbody>    
  </table>
</div>

<div class="row"><h2 class="sub-header">Dados de Localização</h2></div>

<div  class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <td><b>CEP:</b></td>
        <td><%= @residence.cep %></td>
      </tr>
      <tr>
        <td><b>Endereço:</b></td>
        <td><%= "#{@residence.street}, #{@residence.number}" %></td>
      </tr>
      <tr>
        <td><b>Bairro:</b></td>
        <td><%= "#{@residence.neighbourhood}" %></td>
      </tr>
      <tr>
        <td><b>Estado:</b></td>
        <td><%= "#{@residence.state}" %></td>
      </tr>
      <tr>
        <td><b>Cidade:</b></td>
        <td><%= "#{@residence.city}" %></td>
      </tr>                        
    </tbody>    
  </table>
</div>

<div class="row"  style="margin: 0 0 30px 0">
  <div class="col-lg-12">
    <div class="col-lg-12 center-block" style="float:none;">
      <div id="basic_map"></div>   
    </div>    
  </div>
</div>

<div class="large-12 columns">
  
</div>


<script>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'basic_map'
    }
  },
  function(){
    markers = handler.addMarkers([
      {
        "lat": "<%= @residence.geo[:lat] %>",
        "lng": "<%= @residence.geo[:lng] %>",
        "picture": {
          "url": "/assets/housemaps.png",
          "width":  46,
          "height": 46
        },
        "infowindow": "<%= @residence.status%>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);
/*
function displayOnMap(position){
  var marker = handler.addMarker({
    lat: "<%= @residence.geo[:lat] %>",
    lng: "<%= @residence.geo[:lng] %>",
    picture: {
        url: "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        width:  36,
        height: 36
      },
      infowindow: "hello!"
  });
  handler.map.centerOn(marker);
  handler.getMap().setZoom(15);
};
*/
</script>