<div class="row">
  <h1></h1>
</div>

<div class="col-lg-6">

<div class="col-lg-12">
<div class="panel panel-default">
      <div class="panel-heading">Dados do proprietário do Imóvel</div>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><b>Nome:</b></td>
              <td><a href="/clients/<%= @residence.client.id %>" target="blank"><%= @residence.client.name %></a></td>
            </tr>
            <tr>
              <td><b>Telefone:</b></td>
              <td><%= @residence.client.phone_number %></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

<div class="col-lg-12">
<div class="panel panel-default">
      <div class="panel-heading">Dados do Imóvel</div>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><b>Status:</b></td>
              <td><%= @residence.status_name %></td>
            </tr>
            <tr>
              <td><b>Tipo:</b></td>
              <td><%= @residence.type_name %></td>
            </tr>
            <tr>
              <td><b>Área total:</b></td>
              <td><%= @residence.residence_info.area_total.to_i %> m²</td>
            </tr>
            <tr>
              <td><b>Valor:</b></td>
              <td>R$ <%= @residence.residence_info.sell_value.to_i %></td>
            </tr>        
          </tbody>    
        </table>
    </div>
</div>


<div class="col-lg-12">
<div class="panel panel-default">
      <div class="panel-heading">Dados de Localização</div>
        <table class="table table-bordered">
            <tbody>
              <tr>
                <td><b>CEP:</b></td>
                <td><%= @residence.cep %></td>
              </tr>
              <tr>
                <td><b>Endereço:</b></td>
                <td><%= "#{@residence.street}, #{@residence.number}" %></td>
              </tr>
              <tr>
                <td><b>Bairro:</b></td>
                <td><%= "#{@residence.neighbourhood}" %></td>
              </tr>
              <tr>
                <td><b>Estado:</b></td>
                <td><%= "#{@residence.state}" %></td>
              </tr>
              <tr>
                <td><b>Cidade:</b></td>
                <td><%= "#{@residence.city}" %></td>
              </tr>                        
            </tbody>    
        </table>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <div class="col-lg-12">
      <div id="basic_map"></div>   
  </div>
</div>

<div class="col-lg-12">
  <div class="row">
    <h1 class="page-header"></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
        <div class="col-lg-6">
          <div class="panel panel-default" style="height: 156px;">
            <div class="panel-heading"><strong>Cadastro de imagem do imóvel</strong></div>
              <div class="panel-body">
                  <%= render partial: "edit"%>
              </div>
          </div>
        </div>                
        <%= render 'residence_action', res_s: @residence.status %>
        <% if flash[:notice]%>
          <%= flash[:notice]%>
        <% end %>
  </div>
</div>    


<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Imagens cadastradas</strong></div>
        <div class="panel-body">
          <div class="owl-carousel">
            <%@residence.picture.each do |pic|%>
              <div>
                <img src="/system/pictures/pics/000/000/<%=pic.original_id%>/original/<%= pic.pic_file_name%>"/>
              </div>
            <%end%> 
          </div>
        </div>
    </div>
  </div>
</div>



<script>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
    },
    internal: {
      id: 'basic_map'
    }
  },
  function(){
    markers = handler.addMarkers([
      {
        "lat": "<%= @residence.geo[:lat] %>",
        "lng": "<%= @residence.geo[:lng] %>",
        "picture": {
          "url": "/assets/housemaps.png",
          "width":  46,
          "height": 46
        }
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);

ProjectInputMasks();

var owl = $(".owl-carousel");
  owl.owlCarousel({
    
    itemsCustom : [
        [0, 2],
        [450, 2],
        [600, 3],
        [700, 3],
        [1000, 3],
        [1200, 4],
        [1400, 5],
        [1600, 5]
      ],

    navigationText : ["Anterior","Próximo"],
   // autoPlay: 3000, //Set AutoPlay to 3 seconds
    navigation : true
  });
</script>