<span>Dados do Imóvel</span>
<div class="panel">
	<ul class="infosClient">
		<li><b>Status: </b><%= @residence.status_name %></li>
	</ul>
</div>

<span>Dados de Localização</span>
<div class="panel">
	<ul class="infosClient">
		<li><b>CEP: </b><%= @residence.cep %></li>
		<li><b>Endereço: </b><%= "#{@residence.street}, #{@residence.number}" %></li>
		<li><b>Bairro: </b><%= "#{@residence.neighbourhood}" %></li>
		<li><b>Estado: </b><%= "#{@residence.state}" %></li>
		<li><b>Cidade: </b><%= "#{@residence.city}" %></li>
	</ul>
</div>

<div style='width: 800px;'>
  <div id="basic_map" style='width: 800px; height: 400px;'></div>
</div>
<script>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'basic_map'
    }
  },
  function(){
    markers = handler.addMarkers([
      {
        "lat": "<%= @residence.position[:lat] %>",
        "lng": "<%= @residence.position[:lng] %>",
        "picture": {
          "url": "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
          "width":  36,
          "height": 36
        },
        "infowindow": "<%= @residence.status%>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);
/*
function displayOnMap(position){
  var marker = handler.addMarker({
    lat: "<%= @residence.position[:lat] %>",
    lng: "<%= @residence.position[:lng] %>",
    picture: {
        url: "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        width:  36,
        height: 36
      },
      infowindow: "hello!"
  });
  handler.map.centerOn(marker);
  handler.getMap().setZoom(15);
};
*/
</script>