<div class="row">
  <h1></h1>
</div>

<div class="col-lg-6">

<div class="col-lg-12">
<div class="panel panel-default">
      <div class="panel-heading">Dados do proprietário do Imóvel</div>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><b>Nome:</b></td>
              <td><a href="/clients/<%= @residence.client.id %>" target="blank"><%= @residence.client.name %></a></td>
            </tr>
            <tr>
              <td><b>Telefone:</b></td>
              <td><%= @residence.client.phone_number %></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

<div class="col-lg-12">
<div class="panel panel-default">
      <div class="panel-heading">Dados do Imóvel</div>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><b>Status:</b></td>
              <td><%= @residence.status_name %></td>
            </tr>
            <tr>
              <td><b>Tipo:</b></td>
              <td><%= @residence.type_name %></td>
            </tr>      
          </tbody>    
        </table>
    </div>
</div>


<div class="col-lg-12">
<div class="panel panel-default">
      <div class="panel-heading">Dados de Localização</div>
        <table class="table table-bordered">
            <tbody>
              <tr>
                <td><b>CEP:</b></td>
                <td><%= @residence.cep %></td>
              </tr>
              <tr>
                <td><b>Endereço:</b></td>
                <td><%= "#{@residence.street}, #{@residence.number}" %></td>
              </tr>
              <tr>
                <td><b>Bairro:</b></td>
                <td><%= "#{@residence.neighbourhood}" %></td>
              </tr>
              <tr>
                <td><b>Estado:</b></td>
                <td><%= "#{@residence.state}" %></td>
              </tr>
              <tr>
                <td><b>Cidade:</b></td>
                <td><%= "#{@residence.city}" %></td>
              </tr>                        
            </tbody>    
        </table>
    </div>
</div>

</div>

<div class="col-lg-6">

  <div class="col-lg-12">
      <div id="basic_map"></div>   
  </div>

</div>



<script>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'basic_map'
    }
  },
  function(){
    markers = handler.addMarkers([
      {
        "lat": "<%= @residence.geo[:lat] %>",
        "lng": "<%= @residence.geo[:lng] %>",
        "picture": {
          "url": "/assets/housemaps.png",
          "width":  46,
          "height": 46
        },
        "infowindow": "<%= @residence.status%>"
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);
/*
function displayOnMap(position){
  var marker = handler.addMarker({
    lat: "<%= @residence.geo[:lat] %>",
    lng: "<%= @residence.geo[:lng] %>",
    picture: {
        url: "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        width:  36,
        height: 36
      },
      infowindow: "hello!"
  });
  handler.map.centerOn(marker);
  handler.getMap().setZoom(15);
};
*/
</script>