
<!-- Link do stilo original => http://www.adobati.it/labs/CSSTable/0m4r.table.css -->
<style>
/*

=====================================

 * Data Tables and Cascading Style Sheets Gallery *

 *  http://icant.co.uk/csstablegallery/index.php  *

 * Author: Velizar Garvalov at  http://www.vhg-design.com/ *

 =====================================

*/



table {

  width: 100%;

  margin:0; 

  padding:0;

  font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;  

  color: #2364b0;

  

}

table, tr, th, td {

  border-collapse: collapse;

}

caption {

margin:0; 

  padding:0;

  background: #f3f3f3;

  height: 40px;

  line-height: 40px;

  text-indent: 28px;

  font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;  

  font-size: 14px;

  font-weight: bold;

  color: #555d6d;

  text-align: left;

  letter-spacing: 3px;

  border-top: dashed 1px #c2c2c2;

  border-bottom: dashed 1px #c2c2c2;

}



/* HEAD */



thead {

  background-color: #FFFFFF;

  border: none;

}

thead tr th {

  height: 32px;

  line-height: 32px;

  text-align: center;

  color: #2364b0;

  background-image: url(col_bg.gif);

  background-repeat: repeat-x;

  border-left:solid 1px #FF9900;

  border-right:solid 1px #FF9900; 

  border-collapse: collapse;

  

}



/* BODY */



tbody tr {

  background: #fff;

  font-size: 13px;

}

tbody tr.odd {

  background: #F0FFFF;

}

tbody tr:hover, tbody tr.odd:hover {


}

tbody tr th, tbody tr td {

  padding: 6px;

  border: solid 1px #326e87;

}

tbody tr th {

  background: #2364b0;

  font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;  

  font-size: 12px;

  padding: 6px;

  text-align: center;

  font-weight: bold;

  color: #FFFFFF;

  border-bottom: solid 1px white;

}

tbody tr th:hover {

}



/* LINKS */



table a {

  color: #FF6600;

  text-decoration: none;

  font-size: 13px;

  border-bottom: solid 1px white;

}

table tr:hover {
  color: #060606;
}



/* FOOTER */



tfoot {

  background: #f3f3f3;

  height: 24px;

  line-height: 24px;

  font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;  

  font-size: 14px;

  font-weight: bold;

  color: #555d6d;

  text-align: center;

  letter-spacing: 3px;

  border-top: solid 2px #326e87;

  border-bottom: dashed 1px #c2c2c2;

}

tfoot tr th, tfoot tr td {
  /*padding: .1em .6em;*/
}

tfoot tr th {
  border-top: solid 1px #326e87;
}

tfoot tr td {
  text-align: right;
}
</style>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Relatório de Acesso</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<%= report_simple_container("Relatório de acesso","/reports/access_log") %>
<table>
<tr>
  <th scope="col">
    Usuário
  </th>
  <th scope="col">
    Nome
  </th>
  <th scope="col">
    Data de Acesso
  </th>
  <th scope="col">
    IP
  </th>
</tr>
<% @access_log.each do |log| %>
  <tr>
    <td><%= User.find(log.user_id).login %></td>
    <td><%= User.find(log.user_id).name %></td>
    <td><%= log.created_at.strftime("%d/%m/%Y às %I:%M%p") %></td>
    <td><%= log.ip %></td>
  </tr>
<%end%>
</table>